#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}
