#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}

#main-toolbar #nodetext-button {
  background-image: url(../icons/nodetext-mode.svg);
}

#main-toolbar #link-button {
  background-image: url(../icons/link-mode.svg);
}

#main-toolbar #delete-button {
  background-image: url(../icons/delete-mode.svg);
}

#fontsizecomputer {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}